target/test-classes/com/example/restSpring/SpringRestTestClient.class
target/m2e-wtp/web-resources/META-INF/maven/com.playthe.api/restSrping/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com.playthe.api/restSrping/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.playthe.api/restSpring/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com.playthe.api/restSpring/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/classes/com/example/restSpring/service/UserServiceImpl.class
target/classes/com/example/restSpring/service/UserService.class
target/classes/com/example/restSpring/service/RestServices.class
target/classes/com/example/restSpring/service/CatalogServiceImpl.class
target/classes/com/example/restSpring/service/CatalogService.class
target/classes/com/example/restSpring/security/SecurityWebApplicationInitializer.class
target/classes/com/example/restSpring/security/SecurityConfiguration.class
target/classes/com/example/restSpring/security/CustomBasicAuthenticationEntryPoint.class
target/classes/com/example/restSpring/model/convert/BeanConvert.class
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/.jsdtscope
.project
.classpath
target/classes/com/example/restSpring/model/api/ApiCatalog.class
target/classes/com/example/restSpring/model/User.class
target/classes/com/example/restSpring/model/ResultCatalog.class
target/classes/com/example/restSpring/model/Catalog.class
target/classes/com/example/restSpring/controller/HelloWorldRestController.class
target/classes/com/example/restSpring/configuration/HelloWorldInitializer.class
target/classes/com/example/restSpring/configuration/HelloWorldConfiguration.class
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
